<div class="container py-5">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="bg-div col-12">
          <img class="d-block w-100" src="..." alt="First slide" />
          <p>hhh</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bg-div col-12">
          <img class="d-block w-100" src="..." alt="First slide" />
          <p>hhh</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bg-div col-12">
          <img class="d-block w-100" src="..." alt="First slide" />
          <p>hhh</p>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
    <div class="bg-control">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>

 
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
    <div class="bg-control">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>


    </a>
    <div class="relative w-full">
        <!-- Left Arrow -->
        <button class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-white text-purple-500 p-2 rounded-full shadow-md hover:bg-purple-500 hover:text-white transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
    
        <!-- Slider Content -->
        <div class="slider-content">
            <!-- Your images or content here -->
        </div>
    
        <!-- Right Arrow -->
        <button class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-white text-purple-500 p-2 rounded-full shadow-md hover:bg-purple-500 hover:text-white transition duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
    
  </div>
</div>
